html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
canvas {
    background-color: black;
    position: absolute;
    cursor: crosshair;
    margin: 0 auto;
}
#score {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 99999;
    color: gold;
}
#timer {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 99999;
    color: white;
}

#title {
    position: fixed;
    top: 16px;
    right: 40%;
    z-index: 99999;
    font-size: 48px;
    color: cyan;
}

